# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

language: generic

# don't build twice
if: tag IS blank

matrix:
  include:
    - os: osx
      osx_image: xcode9.3
      env: MB_PYTHON_VERSION=2.7
    - os: osx
      osx_image: xcode9.3
      env: MB_PYTHON_VERSION=3.5
    - os: osx
      osx_image: xcode9.3
      env: MB_PYTHON_VERSION=3.6
    - os: osx
      osx_image: xcode9.3
      env: MB_PYTHON_VERSION=3.7
    - os: osx
      osx_image: xcode9.3
      env: MB_PYTHON_VERSION=3.8

    - os: linux
      dist: trusty
      services:
        - docker
      if: tag IS blank
      env:
        global:
          - PLAT=x86_64
          - TRAVIS_TAG=linux
      before_install: []
      before_script:
        - docker pull rayproject/arrow_linux_x86_64_base:python-3.8.0
      script:
        - git clone https://github.com/apache/arrow
        - git -C arrow checkout 86f34aa07e611787d9cc98c6a33b0a0a536dce57
        - mkdir -p dist
        - pushd arrow
        # Pull testing resources
        - git submodule init
        - git submodule update
        - popd
        - pushd arrow/python/manylinux1
        - docker run --shm-size=2g -e UBUNTU_WHEELS=1 -e SETUPTOOLS_SCM_PRETEND_VERSION=0.14.0.RAY -e PYTHON_VERSION="2.7" -e UNICODE_WIDTH=32 -e WHEEL_VERSION=0.31.1 -v $PWD:/io -v $PWD/../../:/arrow rayproject/arrow_linux_x86_64_base:python-3.8.0 /io/build_arrow.sh
        - docker run --shm-size=2g -e UBUNTU_WHEELS=1 -e SETUPTOOLS_SCM_PRETEND_VERSION=0.14.0.RAY -e PYTHON_VERSION="2.7" -e UNICODE_WIDTH=16 -e WHEEL_VERSION=0.31.1 -v $PWD:/io -v $PWD/../../:/arrow rayproject/arrow_linux_x86_64_base:python-3.8.0 /io/build_arrow.sh
        - docker run --shm-size=2g -e UBUNTU_WHEELS=1 -e SETUPTOOLS_SCM_PRETEND_VERSION=0.14.0.RAY -e PYTHON_VERSION="3.5" -e UNICODE_WIDTH=16 -e WHEEL_VERSION=0.31.1 -v $PWD:/io -v $PWD/../../:/arrow rayproject/arrow_linux_x86_64_base:python-3.8.0 /io/build_arrow.sh
        - docker run --shm-size=2g -e UBUNTU_WHEELS=1 -e SETUPTOOLS_SCM_PRETEND_VERSION=0.14.0.RAY -e PYTHON_VERSION="3.6" -e UNICODE_WIDTH=16 -e WHEEL_VERSION=0.31.1 -v $PWD:/io -v $PWD/../../:/arrow rayproject/arrow_linux_x86_64_base:python-3.8.0 /io/build_arrow.sh
        - docker run --shm-size=2g -e UBUNTU_WHEELS=1 -e SETUPTOOLS_SCM_PRETEND_VERSION=0.14.0.RAY -e PYTHON_VERSION="3.7" -e UNICODE_WIDTH=16 -e WHEEL_VERSION=0.31.1 -v $PWD:/io -v $PWD/../../:/arrow rayproject/arrow_linux_x86_64_base:python-3.8.0 /io/build_arrow.sh
        - docker run --shm-size=2g -e UBUNTU_WHEELS=1 -e SETUPTOOLS_SCM_PRETEND_VERSION=0.14.0.RAY -e PYTHON_VERSION="3.8" -e UNICODE_WIDTH=16 -e WHEEL_VERSION=0.31.1 -v $PWD:/io -v $PWD/../../:/arrow rayproject/arrow_linux_x86_64_base:python-3.8.0 /io/build_arrow.sh
        - popd
        - sudo mv arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp27-cp27m-linux_x86_64.whl arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp27-cp27m-manylinux1_x86_64.whl || true
        - sudo mv arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp27-cp27mu-linux_x86_64.whl arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp27-cp27mu-manylinux1_x86_64.whl || true
        - sudo mv arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp35-cp35m-linux_x86_64.whl arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp35-cp35m-manylinux1_x86_64.whl || true
        - sudo mv arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp36-cp36m-linux_x86_64.whl arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp36-cp36m-manylinux1_x86_64.whl || true
        - sudo mv arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp37-cp37m-linux_x86_64.whl arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp37-cp37m-manylinux1_x86_64.whl || true
        - sudo mv arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp37-cp37m-linux_x86_64.whl arrow/python/manylinux1/dist/pyarrow-0.14.0.RAY-cp38-cp38m-manylinux1_x86_64.whl || true
        - sudo mv arrow/python/manylinux1/dist/* dist/
        - cat indextemplate | sed s/COMMIT/${TRAVIS_COMMIT}/g > dist/index.html
      install: []

env:
  global:
    - PLAT=x86_64
    - TRAVIS_TAG=build-385-wheel-osx-cp37m
    - MACOSX_DEPLOYMENT_TARGET="10.9"
    - PYARROW_VERSION=0.14.0.RAY
    - PYARROW_BUILD_VERBOSE=1

before_install:
  - git clone https://github.com/matthew-brett/multibuild # TODO pin it
  - git -C multibuild checkout 68a4af043e2adb0d9353d4a0e1f3d871203237aa

  - git clone -b master https://github.com/apache/arrow arrow
  - git -C arrow checkout 86f34aa07e611787d9cc98c6a33b0a0a536dce57

  # ARROW-3976 Old versions of git can cause failures when Homebrew prints a
  # donation solicitation. Attempt to update git
  - git --version
  - brew upgrade git

  # Also remove artifacts that depend on Boost
  - brew uninstall boost cgal postgis sfcgal
  - brew update
  - brew upgrade cmake
  - travis_wait 120 brew install bison flex grpc openssl@1.1 llvm@7 zlib gperftools
  - brew switch openssl 1.1.1d
  # Remove shared grpc libraries installed by brew to make sure
  # we are linked against the static ones.
  - rm -f /usr/local/opt/grpc/lib/*.dylib

  - export CONFIG_PATH=`pwd`/arrow/dev/tasks/python-wheels/osx-build.sh
  - source multibuild/common_utils.sh
  - source multibuild/travis_osx_steps.sh

  - before_install

  # Fix SSL TLS issue for Python 3.5 on macOS
  - pip install requests[security]

install:
  - mkdir -p dist

  # multibuild's default clean_code function
  - clean_code arrow 86f34aa07e611787d9cc98c6a33b0a0a536dce57

  - build_wheel arrow

  # the following functions are defined in osx-build.sh
  - install_wheel arrow

  # test the built wheels, remove llvm and grpc to ensure they link statically
  - brew uninstall llvm@7
  - brew uninstall grpc
  - run_unit_tests arrow

  # move built wheels to a top level directory
  - mv -v arrow/python/dist/* dist/


deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key:
    secure: $AWS_SECRET_ACCESS_KEY
  bucket: arrow-wheels
  skip_cleanup: true
  region: us-west-2
  local-dir: dist/
  upload-dir: $TRAVIS_COMMIT
  on:
    repo: ray-project/arrow-build
notifications:
  email:
  - pcmoritz@gmail.com
